<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Component Demo</title>
    <link rel="stylesheet" href="../../tokens/colors.css">
    <link rel="stylesheet" href="card.css">
</head>
<body>
<div class="card">
    <div class="card__content">
        <div class="card__header">
            <h2 class="card__title">Card Title</h2>
        </div>
        <div class="card__body">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At vero eos et accusam et</p>
        </div>
    </div>
</div>
</body>
</html>