/* PRIMITIVES */
:root {
    --color-slate-100: #16181d;
    --color-slate-200: #2c313a;
    --color-slate-300: #424957;
    --color-slate-400: #586174;
    --color-slate-500: #6e7a91;
    --color-slate-600: #8b94a7;
    --color-slate-700: #a8afbd;
    --color-slate-750: #b6bcc8;
    --color-slate-800: #c5cad3;
    --color-slate-850: #d3d7de;
    --color-slate-900: #f3f4f6;
    --color-slate-950: #FBFBFB;
    --color-slate-1000: #FFFFFF;
    --color-slate-980: #F9FAFB;

    --color-navy-100: #1F2937;
    --color-navy-200: #2C3E50;
    --color-navy-250: #374151;
    --color-navy-300: #4B5563;

    --color-mint-300: #1d8660;
    --color-mint-400: #27b07d;
    --color-mint-500: #34D399;
    --color-mint-600: #60dcaf;
}