input[type=text] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: none;
}

.text-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-input input {
    background-color: var(--color-slate-1000);
    border: 1px solid var(--color-slate-1000);
    border-radius: 4px;
    font-family: sans-serif;
    color: var(--color-navy-700);

    font-size: 1.2rem;
    line-height: 1.5;
    padding: .25rem .62rem .25rem .62rem;
}

.text-input input:hover {
    border-color: var(--color-mint-500);
}

.text-input input:focus {
    border-color: var(--color-mint-500);
}
