/* PRIMITIVES */
:root {
    --color-slate-900: #F3F4F6;
    --color-slate-950: #FBFBFB;
    --color-slate-1000: #FFFFFF;

    --color-navy-100: #1F2937;
    --color-navy-200: #2C3E50;
    --color-navy-250: #374151;
    --color-navy-300: #4B5563;

    --color-mint-400: #27b07d;
    --color-mint-500: #34D399;
    --color-mint-600: #60dcaf;
}