body {
    display: block;
}

.main-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.app__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__header {
    color: var(--color-navy-200);
    font-family: sans-serif;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
}

.app__title {
    font-size: 3rem;
}

.app__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}