<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/css/tokens/colors.css">
    <link rel="stylesheet" href="./assets/css/components/radiobutton/radiobutton.css">
    <title>Radiobutton Demo</title>
</head>
<body>
<div class="radiobuttons">
    <label class="radiobutton__content">One
        <input type="radio" checked="checked" name="radio">
        <span class="radiobutton__checkmark"></span>
    </label>
    <label class="radiobutton__content">Two
        <input type="radio" name="radio">
        <span class="radiobutton__checkmark"></span>
    </label>
    <label class="radiobutton__content">Three
        <input type="radio" name="radio">
        <span class="radiobutton__checkmark"></span>
    </label>
    <label class="radiobutton__content">Four
        <input type="radio" name="radio">
        <span class="radiobutton__checkmark"></span>
    </label>
</div>
</body>
</html>