* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.table {
    font-family: sans-serif;
    border-radius: 4px;
    border-collapse: collapse;
    background-color: var(--color-slate-1000);
}

tr, th, td {
    border-collapse: collapse;
}

.table-row__table-header {
    color: var(--color-slate-1000);
    background-color: var(--color-navy-200);
}

.table-row__table-body {
    color: var(--color-navy-200);
}
