:root {
    --color-button-bg: var(--color-mint-500);
    --color-button-text: var(--color-slate-1000);
    --color-button-border: transparent;

    --color-button-bg-hover: var(--color-mint-600);

    --color-button-bg-active: var(--color-mint-400);

    --button-border-radius: 4px;

    --size-button-text: 1rem;

    --button-font-family: sans-serif;
    --button-font-weight: bold;

    --button-padding: .5rem 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-slate-200);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    font-family: var(--button-font-family), serif;
    font-weight: var(--button-font-weight);
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    border-radius: var(--button-border-radius);
    border-color: var(--color-button-border);
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-button-bg-hover);
}

.button:active {
    background-color: var(--color-button-bg-active);
}

.button.button--blue {
    --color-button-bg: var(--color-navy-200);
    background-color: var(--color-button-bg);
}

.button.button--blue:hover {
    --color-button-bg-hover: var(--color-navy-300);
    background-color: var(--color-button-bg-hover);
}

.button.button--blue:active {
    --color-button-bg-active: var(--color-navy-100);
    background-color: var(--color-button-bg-active);
}

.button__content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--button-padding);
    gap: .25rem;
}

.button__icon {
    height: 24px;
    width: 24px;
}